In [1]:
#Import libraries

import pandas as pd
import numpy as np

In [6]:
#Loading dataset

file_location_url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/horse-colic.csv'

dataset=pd.read_csv(file_location_url,na_values='?',header=None)

dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [9]:
#Checking missing values

for col in dataset.columns:
    percentage_missing = np.mean(dataset[col].isnull())*100
    print("{} -> {} %".format(col,percentage_missing.round(2)))

0 -> 0.33 %
1 -> 0.0 %
2 -> 0.0 %
3 -> 20.0 %
4 -> 8.0 %
5 -> 19.33 %
6 -> 18.67 %
7 -> 23.0 %
8 -> 15.67 %
9 -> 10.67 %
10 -> 18.33 %
11 -> 14.67 %
12 -> 18.67 %
13 -> 34.67 %
14 -> 35.33 %
15 -> 82.33 %
16 -> 34.0 %
17 -> 39.33 %
18 -> 9.67 %
19 -> 11.0 %
20 -> 55.0 %
21 -> 66.0 %
22 -> 0.33 %
23 -> 0.0 %
24 -> 0.0 %
25 -> 0.0 %
26 -> 0.0 %
27 -> 0.0 %